@model bool
<!DOCTYPE html>
<html>
<head>
    <title>Can the planet be escaped?</title>
</head>
<body>
    <h3>Planet 22, with 3 years to the closest planet</h3>
    @if (@Model)
    {
        <h2>YES</h2>
    }
    else 
    {
        <h2>NO</h2>
    }
</body>
</html>